@using Microsoft.AspNetCore.Identity
@using TaxBarAssociation.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Ayman Fikry" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="Tax Bar Association" />
    <title>@ViewData["Title"] -</title>
    <link href="~/TBA_Logo.png" rel="icon" />
    <link href="~/website/assets/css/vendor.min.css" rel="stylesheet" />
    <link href="~/website/assets/css/style.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/website/assets/css/birthday.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <div class="preloader">
        <div class="preloader-inner">
            <img src="~/loader.gif" alt="Preloader">
        </div>
    </div>
    <!-- Document Wrapper-->
    <div class="wrapper clearfix" id="wrapperParallax">
        <!--
        ============================
        Header #2
        ============================
        -->
        <header class="header header-light header-topbar header-topbar1 header-shadow" id="navbar-spy">
            <div class="top-bar">
                <div class="block-left">
                    <div class="top-contact">
                        <img src="" style="width: 118px;height: 118px;" alt="Tax Bar Association" class="img-responsive logoImg">
                    </div>
                    <div class="social-links">
                        <a asp-action="Index" asp-controller="Home">
                            <img src="~/website/images/Logo.png" alt="Tax Bar Association, Rishikesh" class="img-responsive" width="620">
                        </a>
                        <marquee style="margin-top: 10px;"><a style="color: white !important; text-transform: uppercase;" id="headerText">AFFILIATED WITH BAR COUNCIL OF UTTARKHAND, NAINITAL, REGD. NO. -034/2012</a></marquee>
                    </div>
                </div>
                <div class="block-right">
                    <!-- Start .social-links-->
                    <!-- End .social-links-->
                    <div class="topbar-links">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <a asp-action="Index" asp-controller="Dashboard" title="Dashboard" class="member-login">DASHBOARD</a>
                        }else{
                            <a id="login" asp-area="Identity" asp-page="/Account/Login" title="Member Login" class="member-login">MEMBER LOGIN</a>
                        }
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg navbar-sticky" id="primary-menu">
                <div class="mobile-logo">
                    <img src="" style="width: 80px;height: 80px;" alt="Tax Bar Association" class="img-responsive logoImg">
                </div>
                <div class="module-holder module-holder-phone">
                    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                </div>
                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item active" id="contact" data-hover="">
                            <a asp-action="Index" asp-controller="Home"><span>Home</span></a>
                        </li>
                        <li class="nav-item" id="contact" data-hover=""><a href="javascript:void(0);"><span>Overview</span></a></li>
                        <li class="nav-item" id="contact" data-hover=""><a asp-action="Blog" asp-controller="Home" asp-route-id=""><span>BLOG</span></a></li>
                        <li class="nav-item" id="contact" data-hover=""><a href="javascript:void(0);"><span>EVENTS</span></a></li>
                        <li class="nav-item" id="contact" data-hover=""><a href="javascript:void(0);"><span>BENEVOLENT</span></a></li>
                        <li class="nav-item" id="contact" data-hover=""><a href="javascript:void(0);"><span>DOWNLOADS</span></a></li>
                        <li class="nav-item" id="contact" data-hover=""><a asp-action="Gallery" asp-controller="Home"><span>GALLERY</span></a></li>
                        <li class="nav-item" id="contact" data-hover=""><a href="javascript:void(0);"><span>PHOTO MEMORIAL</span></a></li>
                        <li class="nav-item" id="contact" data-hover=""><a asp-action="ContactUs" asp-controller="Home"><span>CONTACT US</span></a></li>
                    </ul>
                    <!--  End .module-holder-->
                </div>
                <!--  End .navbar-collapse-->
            </nav>
            <!--  End .navbar-->
        </header>
        <!-- End .header-->
        @RenderBody()
        <!--
          ============================
          Footer #1
          ============================
          -->
        <footer class="footer footer-1">
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="footer-copyright">
                                <div class="copyright">
                                    <span>&copy; Copyright 2022 and <a href="javascript:void(0);"> Tax Bar Association, Rishikesh</a>. all rights reserved. </span>
                                    <ul class="list-unstyled social-icons">
                                        <li> <a class="share-facebook" href="javascript:void(0)">Home</a></li>
                                        <li> <a class="share-twitter" href="javascript:void(0)">Overview</a></li>
                                        <li> <a class="share-youtube" href="javascript:void(0)">Events</a></li>
                                        <li> <a class="share-youtube" href="javascript:void(0)">Managing Committee</a></li>
                                        <li> <a class="share-youtube" href="javascript:void(0)">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  End .row-->
            </div>
            <!--  End .footer-bottom-->
        </footer>
        <!--
        ============================
        BackToTop #1
        ============================
        -->
        <div class="back-top" id="back-to-top" data-hover=""><i class="energia-arrow-up"></i></div>
    </div>
    <!--  Footer Scripts -->
    <script src="~/website/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="~/website/assets/js/vendor.js"></script>
    <script src="~/website/assets/js/functions.js"></script>
    <script src="~/js/Home.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

